{#{% load adminlte_helpers i18n %}#}
{#{% load staticfiles %}#}
{##}
{#<div id="create-defined-option-ring-form"#}
{#     data-cluster-list-api="{% url 'admin:dashboard:clusters_tbl_api' %}"#}
{#     data-ring-type="account"#}
{#     data-submit-url="{% url 'admin:ring_and_option:add_core_ring' %}">#}
{##}
{#    <div class="modal fade" id="form-modal-body">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <button type="button" class="close" data-dismiss="modal"#}
{#                            aria-label="Close">#}
{#                        <span aria-hidden="true">&times;</span></button>#}
{#                    <h3 class="modal-title">#}
{#                        Create New Option Ring#}
{#                    </h3>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <div class="row">#}
{#                        <div class="col-md-8">#}
{#                            <div class="form-group">#}
{#                                <label for="create-option-select"#}
{#                                       class="col-md-4 control-label">#}
{#                                    Select Option Ring#}
{#                                </label>#}
{#                                <select id="create-option-select"#}
{#                                        class="col-sm-8">#}
{#                                    <option value="" disabled selected>#}
{#                                        --Select option ring you want to#}
{#                                        create--#}
{#                                    </option>#}
{#                                    <option value="optimize_big">Optimize Big#}
{#                                        File#}
{#                                    </option>#}
{#                                    <option value="economy_big">Economy Big#}
{#                                        File#}
{#                                    </option>#}
{#                                    <option value="optimize_small">Optimize#}
{#                                        Small#}
{#                                        File#}
{#                                    </option>#}
{#                                    <option value="economy_small">Economy Small#}
{#                                        File#}
{#                                    </option>#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <div class="row">#}
{##}
{#                    </div>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button"#}
{#                            class="btn btn-lg btn-default pull-left"#}
{#                            data-dismiss="modal">Cancel#}
{#                    </button>#}
{#                    <button type="button" class="btn btn-lg btn-primary"#}
{#                            id="create-ring-submit-btn">#}
{#                        Create#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
{#            <!-- /.modal-content -->#}
{#        </div>#}
{#        <!-- /.modal-dialog -->#}
{#    </div>#}
{##}
{#</div>#}
