{% extends 'lookup/base.html' %}
{% block main %}
<form class="cloud-config-form" method="post" enctype="multipart/form-data">
	{% csrf_token %}
    <!--<div class="form-group">-->
        <!--<label class="upload-btn">Upload cloud config</label>-->
        <!--<input type="file" name="cloud_config">-->
    <!--</div>-->
    <label>Choose your config file</label>
    <p class="message">Note: Check <a href="#">sample file</a></p>
    <br>
    <input type="file" name="cloud_configs">
    <br>
    <button type="submit">submit</button>
</form>
{% endblock %}