{% extends 'user/dashboard/base.html' %}

{% block title %}HPCC Cloud Dashboard - Account Overview{% endblock %}
{% block nav_header %}
    {% include 'user/dashboard/include/_overview_header.html' %}
{% endblock %}
{% block content %}
    {#    {{ header_title }}#}
    {#    Overview#}
    <div class="row" id="account-overview"
         data-account-overview-api="{% url 'file_and_container:account_overview' %}">
        <div class="col-xs-4">
            <!-- small box -->
            <div class="small-box bg-light-blue">
                <div class="inner">
                    <h3>
                        <span id="total-storage-used">0</span>
                        <sup style="font-size: 20px">MB</sup>
                    </h3>
                    <p>Total storage used</p>
                </div>
                <div class="icon">
                    {#<i class="fa fa-bookmark-o"></i>#}
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3 id="total-container">0</h3>

                    <p>Total Containers</p>
                </div>
                <div class="icon">
                    {#<i class="fa fa-bookmark-o"></i>#}
                    <i class="fa fa-archive" aria-hidden="true"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3 id="total-file">0</h3>
                    <p>Uploaded Files</p>
                </div>
                <div class="icon">
                    {#<i class="fa fa-bookmark-o"></i>#}
                    <i class="fa fa-files-o"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
{% block user_javascript %}
    <script>
        let accountOverviewApi = $("#account-overview").data('account-overview-api');
        $.ajax({
            method: "GET",
            data: {},
            url: accountOverviewApi
        })
            .done(function (data) {
                if (data['result'] === 'success') {
                    $("#total-storage-used").html(
                        parseFloat(data['total_storage_used']).toFixed(2));
                    $("#total-container").html(data['total_container']);
                    $("#total-file").html(data['total_file']);
                }
            })
    </script>
{% endblock %}
