<div class="panel-group">
    <div class="panel panel-default ng-isolate-scope panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
              <span class="truncate">
                cal.1.storage
              </span>
            </h4>
        </div>
    </div>
    <div class="panel-collapse collapse in" style="height: auto;">
        <div class="panel-body">
            <ul class="hz-object-detail">
                <li class="hz-object-count row">
                    <span class="hz-object-label col-lg-7 col-md-12" translate="">
                        <span class="ng-scope">Object Count</span>
                    </span>
                    <span>0</span>
                </li>
                <li class="hz-object-size row">
                    <span class="hz-object-label col-lg-7 col-md-12" translate="">
                        <span class="ng-scope">Size</span>
                    </span>
                    <span class="hz-object-val col-lg-5 col-md-12 ng-binding">0 bytes</span>
                </li>
                <li class="hz-object-timestamp row">
                    <span class="hz-object-label col-lg-7 col-md-12" translate="">
                        <span class="ng-scope">Date Created</span>
                    </span>
                    <span class="hz-object-val col-lg-5 col-md-12 ng-binding">Nov 20, 2017</span>
                </li>
            </ul><!-- end ngIf: container.is_fetched -->
        </div>
    </div>
</div>
