{% extends 'user/dashboard/base.html' %}
{% load staticfiles %}

{% block title %}HPCC Cloud Dashboard - Data Management{% endblock %}
{% block custom_styles %}
    <link rel="stylesheet"
          href="{% static 'user_dashboard/data_management/data_management.css' %}">
    <link rel="stylesheet"
          href="{% static 'user_dashboard/data_management/select.dataTables.css' %}">
    {#    <link rel="stylesheet"#}
    {#          href="{% static 'user_dashboard/data_management/datatables.css' %}">#}
{% endblock %}
{% block nav_header %}
    {% include 'user/dashboard/include/_file_management_header.html' %}
{% endblock %}
{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="box col-lg-4" id="containers-box">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="box-title">Containers</h5>
                    </div>
                    <div class="col-md-8 btn-group" style="float: right">
                        <button type="button" id="create-container-btn" class="btn btn-default"
                                rel="tooltip" title="Create Container">
                            <span class="fa fa-plus"></span>
                        </button>
                        <div class="input-group table-filter">
                            <input class="form-control"
                                   id="containers-filter"
                                   type="text" placeholder="Filter Containers" style="border-radius: 0">
                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-flat">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" id="containers-table-body">
                <div id="containers-table-loading" style="display: none">
                    <div class="loading-info text-primary text-bold">Loading...</div>
                </div>
                <table id="containers-table"
                        {#                       class="hover"#}
                       class="table table-hover table-bordered table-striped"
                        {#                       cellspacing="0"#}
                       data-container-list-api="{% url 'file_and_container:container_list' %}"
                       data-container-info-api="{% url 'file_and_container:container_info' %}"
                       data-create-container-api="{% url 'file_and_container:create_container' %}">
                    <thead>
                    <tr>
                        <th>Container Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="container-info-soure" style="display: none">
                <div class="panel-group container-info">
                    <div class="panel panel-default panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <span class="truncate" id="container-name">
                                    cal.1.storage
                                </span>
                                <span class="containter-info-btn-group" style="float: right;">
                                    <span class="fa fa-trash delete-container-btn"
                                          style="margin-right:3px;"
                                          rel="tooltip" title="Delete Container">
                                    </span>
                                    <span class="fa fa-bars collapse-container-btn"
                                          rel="tooltip" title="Collapse">
                                    </span>

                                </span>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>Cbject count</dt>
                                <dd id="object-count">Etiam porta sem</dd>
                                <dt>Size</dt>
                                <dd id="container-size">Etiam porta</dd>
                                <dt>Date Created</dt>
                                <dd id="date-created">Fusce dapibus, tellus ac</dd>
                            </dl>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <div class="box col-lg-8" id="files-box">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="box-title">Files</h5>
                    </div>
                    <div class="col-md-9 btn-group" style="float: right">
                        <button type="button" class="btn btn-default"
                                id="upload-file"
                                rel="tooltip" title="Upload File">
                            <span class="fa fa-upload"></span>
                        </button>
                        <button type="button" class="btn btn-default" disabled="disabled"
                                rel="tooltip" title="Select All">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-default" disabled="disabled"
                                rel="tooltip" title="Clear Selection">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>

                        <button type="button" class="btn btn-danger" disabled="disabled"
                                rel="tooltip" title="Delete Selection">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                        <div class="input-group table-filter">
                            <input class="form-control"
                                   id="files-filter"
                                   type="text" placeholder="Filter Files" style="border-radius: 0">
                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-flat">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                        </div>

                    </div>
                </div>
            </div>                <!-- /.box-header -->
            <div class="box-body" id="files-table-body">
                <div id="files-table-loading" style="display: none">
                    <div class="loading-info text-primary text-bold">Loading...</div>
                </div>
                <table id="files-table"
                       class=" table table-hover table-select table-bordered table-striped"
                       data-upload-file-api="{% url 'file_and_container:upload_file' %}">
                    <thead>
                    <tr>
                        <th></th>
                        <th>File Name</th>
                        <th>Last Update</th>
                        <th>Size</th>
                        <th style="text-align: center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <div id="file-actions-source" style="display: none;">
        <div class="btn-group" id="file-actions">
            {#            <button type="button" class="btn btn-default"#}
            {#                    rel="tooltip" data-container="body" title="Upload New Version">#}
            {#                <i class="fa fa-upload" aria-hidden="true"></i>#}
            {#            </button>#}
            <button type="button" class="btn btn-default btn-download-file"
                    rel="tooltip" data-container="body" title="Download File">
                <i class="fa fa-download" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-danger btn-delete-file"
                    rel="tooltip" data-container="body" title="Delete File">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    {% include 'user/dashboard/include/_create_container_modal.html' %}
    {% include 'user/dashboard/include/_upload_file.html' %}

{% endblock %}


{% block user_javascript %}
    <script src="{% static "user_dashboard/data_management/dataTables.select.js" %}"></script>
    <script src="{% static "user_dashboard/data_management/_create_alert_message.js" %}"></script>
    <script src="{% static "user_dashboard/data_management/load_table.js" %}"></script>
    <script type="text/javascript">
    </script>

{% endblock %}