{% load adminlte_helpers i18n %}
{% load staticfiles %}

<div class="modal fade" id="create-container-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="h3 modal-title" translate="">
                    Create Container
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset>
                            <div id="input-container-name-form-group" class="form-group required">
                                <label class="control-label required" for="id_name" translate="">
                                    <span class="ng-scope">Container Name</span>
                                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                                </label>

                                <div>
                                    <input class="form-control" id="input-container-name" maxlength="255" name="name"
                                           pattern="[^/]+" placeholder="Required" required="required" type="text">
                                </div>
                                <span class="help-block" translate="">
                                    <span id="input-container-name-valid-helper" class="text-danger">
                                        Container name must not duplicated or null or contain "/" and "_".
                                    </span>
                                </span>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-6">
                        <p translate="">
                            <span class="ng-scope">
                                A container is a storage compartment for your data and provides a way
                                for you to organize your data. You can think of a container as a
                                folder in Windows® or a directory in UNIX®. The primary difference
                                between a container and these other file system concepts is that
                                containers cannot be nested. You can, however, create an unlimited
                                number of containers within your account. Data must be stored in a
                                container so you must have at least one container defined in your
                                account prior to uploading data.
                            </span>
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default pull-left"
                        data-dismiss="modal">Cancel
                </button>
                <button type="button" class="btn btn-primary"
                        id="create-container-submit-btn">
                    Create
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

