{% load adminlte_helpers i18n %}
{% load staticfiles %}

<div class="modal fade" id="delete-file-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="delete-file-loading" style="display: none">
                <div class="loading-info text-primary text-bold">Loading...</div>
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="h3 modal-title" translate="">
                    Delete File
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Are you really want to delete file <span id="file-name"></span> ?</h4>
                        <form enctype="multipart/form-data">
                            <fieldset>
                                <div class="form-group">
                                    <div>
                                        <input id="container-name" name="container-name" type="text" hidden>
                                        <input id="delete-file-name" name="file-name" type="text" hidden>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default pull-left"
                        data-dismiss="modal">Cancel
                </button>
                <button type="button" class="btn btn-danger"
                        id="delete-data-object-submit-btn">
                    Delete
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

