{% load adminlte_helpers i18n %}
{% load staticfiles %}

<div class="modal fade" id="upload-file-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="file-uploading-loading" style="display: none">
                <div class="loading-info text-primary text-bold">Loading...</div>
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <div class="h3 modal-title" translate="">
                    Upload New File To Container: <span id="input-container-name"></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <form enctype="multipart/form-data">
                            <fieldset>
                                <div class="form-group">
                                    <label class="control-label required" for="input-object-file" translate="">
                                        <span class="ng-scope">File</span>
                                    </label>
                                    <div>
                                        <input id="input-object-file" name="file" type="file">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label required" for="input-file-name" translate="">
                                        <span class="ng-scope">File Name</span>
                                    </label>
                                    <div>
                                        <input class="form-control" id="input-file-name" type="text">
                                        <input id="upload-container-name" name="container-name" type="text" hidden>

                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="control-label required" for="input-object-file-option" translate="">
                                        <span class="ng-scope">Select Option For Uploaded File</span>
                                    </label>
                                    <div>
                                        <select class="form-control" id="input-object-file-option">
                                            <option value="optimize">Optimize Option</option>
                                            <option value="standard">Standard Option</option>
                                            <option value="economy">Economy Option</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <p translate="">
                            <span class="ng-scope">
                                Select a file and upload it to selected container.
                            </span>
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default pull-left"
                        data-dismiss="modal">Cancel
                </button>
                <button type="button" class="btn btn-primary"
                        id="create-data-object-submit-btn">
                    Create
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

