{% extends 'dashboard/base.html' %}
{% block brand %}
<a class="navbar-brand" href="#">Cloud Servers Monitoring</a>
{% endblock %}
{% block main %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Cloud Servers</h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <th>NAME</th>
                        <th>IP ADDRESS</th>
                        <th>TYPE</th>
                        <th>USED</th>
                        <th>STATUS</th>
                    </thead>
                    <tbody>
                        {% for cloud in clouds %}
                        <tr>
                            <td>{{ cloud.name }}</td>
                            <td>{{ cloud.address }}</td>
                            <td>{{ cloud.type }}</td>
                            <td>{{ cloud.used_rate }}</td>
                            <td>{{ cloud.status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}