{% extends 'adminlte/base.html' %}
{% load staticfiles %}
{% block extra_head %}

    <link href="{% static 'admin/dashboard/css/base.css' %}"
          rel="stylesheet" type="text/css">
    <link href="{% static 'admin/dashboard/css/jquery.dataTables.min.css' %}"
          rel="stylesheet" type="text/css">
    {% block custom_extra_head %}
    {% endblock %}
{% endblock %}

{% block bodyclass %}
    {#    skin-black-light fixed#}
    skin-black-light
{% endblock %}
{% block nav_header %}
    {% include 'admin/dashboard/lib/_main_header.html' %}
{% endblock %}
{% block nav_sidebar %}
    {% include 'admin/dashboard/lib/_main_sidebar.html' %}
{% endblock %}
{% block content_wrapper %}

    <div class="col-md-4"
         style="z-index: 1050; position: absolute;top:55px;right:50px;"
         id="alert-message-box">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.extra_tags }} alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert"
                       aria-label="close">×</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {#        <div class="alert alert-success alert-dismissable">#}
        {#            <a href="#" class="close" data-dismiss="alert"#}
        {#               aria-label="close">×</a>#}
        {#            Create account ring successful!#}
        {#        </div>#}
    </div>
    <div class="content-wrapper">
        {% block content_header %}
            {#            <section class="content-header">#}
            {#                <h1>#}
            {#                    {% block page_name %}{% endblock %}#}
            {#                    {% block no_description %}#}
            {#                        <small>#}
            {#                            {% block page_description %}{% endblock %}</small>#}
            {#                    {% endblock %}#}
            {#                </h1>#}
            {#                {% block breadcrumbs %}#}
            {#                    Breadcrumb implementation left to developers#}
            {#                {% endblock %}#}
            {#            </section>#}
        {% endblock %}

        {% block content_outer %}
            <section class="content">
                {% block messages %}
                    {% include 'adminlte/lib/_messages.html' %}
                {% endblock %}

                {% block content_block_wrap %}
                    {% block content %}{% endblock %}
                {% endblock %}
            </section>
        {% endblock %}

    </div>
{% endblock content_wrapper %}
{% block javascript %}
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static 'admin/dashboard/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static "admin/dashboard/js/jquery-ui.min.js" %}"></script>
    <script src="{% static "admin/dashboard/js/js.cookie.js" %}"></script>

    <!-- Resolve conflict in jQuery UI with Bootstrap -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %} "></script>
    <script src="{% static "admin-lte/dist/js/app.min.js" %}"></script>
    <script src="{% static "admin/dashboard/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "admin/dashboard/js/_create_alert_message.js" %}"></script>

    <script type="text/javascript">
        let csrftoken = Cookies.get("csrftoken");
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
    {% block user_javascript %}
    {% endblock %}
{% endblock %}
