{% extends 'admin/dashboard/base.html' %}
{% load static %}

{% block title %}
    HPCC Cloud Admin Portal - Cluster {{ cluster_name }}
{% endblock %}
{% block nav_header %}
    {% include 'admin/dashboard/include/_cluster_management_header.html' %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Clusters</h3>

                    <div class="box-tools">
                        {#                        <div class="input-group input-group-sm"#}
                        {#                             style="width: 150px;">#}
                        {#                            <input name="table_search"#}
                        {#                                   class="form-control pull-right"#}
                        {#                                   placeholder="Search" type="text">#}
                        {##}
                        {#                            <div class="input-group-btn">#}
                        {#                                <button type="submit" class="btn btn-default">#}
                        {#                                    <i class="fa fa-search"></i></button>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                </div>
                <!-- /.box-header -->
                {#                <div class="box-body table-responsive no-padding">#}
                <div class="box-body">
                    {#                    <table class="table table-hover" id="clusters-table"#}
                    {#                           data-cluster-list-api="{% url 'admin:dashboard:clusters_tbl_api' %}">#}
                    {#                        <thead>#}
                    {#                        <tr>#}

                    {#                        </tr>#}
                    {#                        </thead>#}
                    {#                        <tbody>#}
                    {##}
                    {#                        </tbody>#}
                    {#                    </table>#}

                    <table id="clusters-table" class="display" cellspacing="0"
                           width="100%"
                           data-cluster-list-api="{% url 'admin:dashboard:clusters_tbl_api' %}">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Storage Type</th>
                            <th>Status</th>
                            <th>Last Update</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Storage Type</th>
                            <th>Status</th>
                            <th>Last Update</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>$320,800</td>
                            <td>$320,800</td>

                        </tr>
                        <tr>
                            <td>Garrett Winters</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>63</td>
                            <td>2011/07/25</td>
                            <td>$170,750</td>
                            <td>$320,800</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}

{% block user_javascript %}

    <script type="text/javascript">

        $(document).ready(function () {
            let clusterDataTable = $('#clusters-table').DataTable({
                responsive: true,
                "paging": false,
                "info": false,
                "autoWidth": false,
                "searching": true,
                "order": [[1, "desc"]],
                columns: [
                    {data: 'id'},
                    {data: 'name'},
                    {data: 'address'},
                    {data: 'storage_type'},
                    {
                        data: 'status',
                        "render": function (data, type, row) {
                            if (data === 'ACTIVE') {
                                return '<span class="label label-primary">' + data + '</span>';

                            } else if (data === 'SHUTOFF') {
                                return '<span class="label label-danger">' + data + '</span>';

                            }else{
                                return data;
                            }
                            {#                            if (type === 'display') {#}
                            {#                                return '<span>' + data + '</span>';#}
                            {#                            } else if (type === 'sort') {#}
                            {#                                return data.LastName;#}
                            {#                            } else {#}
                            {#                                return data;#}
                            {#                            }#}
                        }
                    },
                    {data: 'last_update'},
                    {data: 'tbl_actions'}
                ]
            });

            function updateClusterTable() {
                let tblElement = $("#clusters-table");
                let clusterListApi = tblElement.data("cluster-list-api");
                $.ajax({
                    method: "GET",
                    url: clusterListApi
                })
                    .done(function (clusters_data) {
                        let cluster_list = clusters_data.cluster_list;
                        for (let i = 0; i < cluster_list.length; i++) {
                            let cluster = cluster_list[i];
                            if (cluster.status == 1) {
                                cluster.status = 'ACTIVE';
                                {#                                cluster.status_class = 'label label-primary'#}
                            } else if (cluster.status == 2) {
                                cluster.status = 'SHUTOFF';
                                {#                                cluster.status_class = 'label label-warning'#}
                            }
                            cluster.storage_type = cluster.service_info.service_type;
                            cluster.address = cluster.address_ip + ":" + cluster.address_port;
                            cluster.tbl_actions = '1234';
                        }
                        clusterDataTable.clear();
                        clusterDataTable.rows.add(cluster_list);
                        clusterDataTable.draw()
                    });
            }

            updateClusterTable();
            setInterval(updateClusterTable, 4000);
        });
    </script>
{% endblock %}